/* @font-face {
    font-family: 'aligarh';
    src: url('../aligarh-arabic-free-personal-use/AligarhArabicFREEPERSONALUSE-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'aligarh', sans-serif;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgb(233, 231, 231);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(4, 116, 91, 0.979);
    border-radius: 200px;
}

/* 
@media(max-width:567px) {
    .change {
        animation: change1 5s linear infinite alternate-reverse;
    }

    @keyframes change1 {
        from {
            transform: translateX(-60vw);
        }

        to {
            transform: translateX(60vw);

        }
    }

} */


/* .carousel {
    width: 90%;
    border: 5px solid red;
    margin: 100px auto;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 10s infinite linear;
    padding-right: 1rem;
}

.slider img {
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-1000);

    }
} */

/* .slider:hover {
    animation-play-state: paused;
} */

/* body {
  background: #111;
  padding: 40px;
} */

/* .carousel {
    overflow: hidden;
    width: 900px;
    margin: auto;
    border: 2px solid red;
}

.track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: move 10s linear infinite;
}

.card {
    min-width: 180px;
    height: 240px;
    background: #222;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid gold;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
 */



.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: auto;
    border: 2px solid red;
}

.track {
    display: flex;
    gap: 20px;
    width: max-content;
    will-change: transform;
}

.card {
    flex: 0 0 auto;
    width: 180px;
    height: 240px;
    background: #222;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 1px solid gold;
}

/* تحسين الموبايل */
@media (max-width: 600px) {
    .card {
        width: 140px;
        height: 180px;
    }
}