/* @font-face {
    font-family: 'aligarh';
    src: url('../aligarh-arabic-free-personal-use/AligarhArabicFREEPERSONALUSE-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'aligarh', sans-serif;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    color: white;
    transition: all .3s ease;
}

.nav-link:active {
    color: #f59e0b !important;
}

::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-thumb {
    background-color: rgba(4, 116, 91, 0.979);
    border-radius: 200px;
    cursor: pointer;
}

.pattern {
    position: absolute;
    inset: 0;

    pointer-events: none;
    z-index: 0;
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.08) 2px, transparent 2px);

    background-size: 40px 40px;

    animation: movePattern 10s linear infinite;
}

@keyframes movePattern {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(40px);
    }
}

.swiper {
    overflow: hidden;
    --swiper-navigation-color: #d97706;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: 300px !important;
    height: 450px !important;
}


.swiper-button-prev,
.swiper-button-next {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #d97706;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    --swiper-navigation-color: white;
}

/* @media (min-width: 770px) {
    .swiper-pagination {
        bottom: -5px !important;
    }
} */

@media (min-width: 1024px) {
    .swiper-pagination {
        bottom: -5px !important;
    }
}