


@font-face {
    font-family: 'aligarh';
    src: url('../aligarh-arabic-free-personal-use/AligarhArabicFREEPERSONALUSE-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'aligarh', sans-serif;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}